<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>User List</title>
</head>
<body>
    {{>header}}

   <h1 id="home-page" style="text-align: center;">Home Page</h1>
   <h3>{{updatedUser}}</h3>

   {{!-- Registration Form --}}

   <form action="/register" method="POST" enctype="multipart/form-data" style="display: flex;justify-content:center">
        <fieldset>
            <legend>Registration Form</legend>


            <label for="userName">Name</label>
            <input type="text" name="name" id="userName"><br><br>

            <label for="useremail">Email</label>
            <input type="text" name="email" id="useremail"><br><br>

            <label for="phone">Phone</label>
            <input type="number" name="phone" id="phone"><br><br>
            
            <label for="age">Age</label>
            <input type="number" name="age" id="age" max="25"><br><br>

            <label for="date">DOB</label>
            <input type="date" name="date" id="date" max=""><br><br>

            <button type="submit">Save</button>

        </fieldset>
    </form><br>

    {{!-- Getting user    --}}

    <form action="/getuser" id="data-list" method="POST" style="display: flex;justify-content:center">
        <fieldset>
            <label for="search">Search:</label>
            <input type="text" id="search" placeholder="Type Name" name="user">

            <button id="" >Get User</button>
    
        </fieldset><br><br>
    </form><br><br> 
    <div>
       
    </div>


    {{!-- Added user List --}}

   <div class="users-data1">
    <div class="users-data">
        {{#each users}}
        <div class="users-data2">
            <div class="users-data-child">
                <P>id:{{this.id}}</P>             
                <P>name:{{this.name}}</P>             
                <P>age:{{this.age}}</P>             
                <P>email:{{this.email}}</P>             
                <P>phone:{{this.phone}}</P>                        
            </div>
            <div class="btn">
                <button><a href="/update/{{this.id}}">Edit</a></button>
                <button><a href="/delete/{{this.id}}">Delete</a></button>
            </div>
        </div>
       
        {{/each}}
        
    </div>
   </div>    
</body>
</html>